doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title Главная страница
		meta(name="description", content="о чем страница")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="css/libs.min.css")

	body
		block pagecontent
			h3 content

		script(src="js/libs.min.js")
		script(src="js/common.js")
